h1 {
  color: rgb(131, 233, 157);

}
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;

}

.flex-item{
  background-color:rgb(206, 0, 0);
  font-size: 30px;
}

.flex-item1{
  flex-grow: 2;
}
.flex-item2{
  flex-shrink: 1;
}
